
.custom-swal-popup {
    background: linear-gradient(135deg, #1b263b, #14578e);
    color: white;
}

.custom-swal-title {
    color: #ffffff; /* Change la couleur du titre à blanc */
}

.custom-swal-content {
    color: #ffffff; /* Change la couleur du texte du contenu à blanc */
}

.custom-swal-confirm-button {
    background-color: #d33 !important; /* Couleur du bouton de confirmation */
    color: white;
}

.custom-swal-cancel-button {
    background-color: #3085d6 !important; /* Couleur du bouton d'annulation */
    color: white;
}



