/*LIGHT*/


.clientIndex {
    background: linear-gradient(135deg, #1b263b, #14578e); /* Dégradé du bleu foncé vers un bleu encore plus sombre */
    border-radius: 8px;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px 2px rgba(9, 132, 227, 0.8), /* Blue outer glow */
    0 4px 12px rgba(0, 0, 0, 0.3); /* Subtle dark shadow for depth */
    border: none; /* Ajoutez cette ligne pour supprimer toute bordure */
    outline: none; /* Supprime tout contour */
}

.titreClientIndex {
    color: white;
}

.titreRechercheClientIndex {
    color: white;
}





.search-form {
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    border: none; /* Ajoutez cette ligne pour supprimer toute bordure */
    outline: none; /* Supprime tout contour */
}


/* GLOBAL */


input {
    font-weight: bold !important;
}

select{
    font-weight: bold !important;
}


