/*LIGHT*/
.details-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px 10px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
}

.details-header {
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

    .details-header h1 {
        font-size: 24px;
        font-weight: bold;
        color: #333;
    }

    .details-header h4 {
        font-size: 18px;
        color: #666;
    }

.details-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

    .details-grid .label,
    .details-grid .value {
        padding: 10px 0;
        
    }

    .details-grid .label {
        font-weight: bold;
        color: #555;
        font-weight: bold;
    }

    .details-grid .value {
        color: #333;
        border-bottom: 1px solid #e0e0e0;
        font-weight: bold !important;
    }






