/* LIGHT */

.table th, .table td {
    vertical-align: middle;
    background-color: white;
    color: black;
    font-weight: bold;
}

.table-container {
    background: white; /* Dégradé du bleu foncé vers un bleu encore plus sombre */
    border-radius: 8px;
    padding: 10px;
    border: none; /* Ajoutez cette ligne pour supprimer toute bordure */
    outline: none; /* Supprime tout contour */
}

tableHeader {
    background-color: black;
}

.table-header {
    background-color: #343a40;
    color: white;
    text-transform: uppercase;
}

.table th:last-child,
.table td:last-child {
    width: 10%; /* Ajustez ce pourcentage selon vos besoins */
}



.table-container .btn-group {
    display: flex;
    justify-content: space-around; /* Pour s'assurer que les boutons ne sont pas trop espacés */
    gap: 5px; /* Espacement entre les boutons */
}



.table-header a {
    text-decoration: none; /* Enlever le soulignement des liens */
    color: inherit; /* Garder la couleur de texte par défaut */
}

    .table-header a:hover {
        text-decoration: underline; /* Assurez-vous que les liens ne sont pas soulignés au survol */
        color: inherit; /* Garder la couleur au survol */
    }







