@model DataAccess.BOL.Note.NoteBOL

@{
    ViewBag.Title = "Éditer une note";
}

<h2 class="notes-card-header">@ViewBag.Title</h2>

<div class="notes-card-body">
    <form asp-action="Edit">
        <div class="form-group">
            <label asp-for="Comment" class="control-label"></label>
            <textarea asp-for="Comment" class="form-control"></textarea>
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="IdClient" />
        <input type="hidden" asp-for="CreatedDate" /> <!-- Champ caché pour conserver la date -->
        <div class="form-actions">
            <button type="submit" class="btn btn-primary custom-btn custom-btn-save">Enregistrer</button>
            <a asp-action="Index" asp-route-clientId="@Model.IdClient" class="btn btn-secondary custom-btn custom-btn-cancel">Annuler</a>
        </div>
    </form>
</div>

<link rel="stylesheet" href="~/css/note.css">
