@model WebApp.ViewModels.MdGestionIndexViewModel

<partial name="_Notification" />


<div class="interventionAttachmentsIndexContainer mt-3">

    <div class="col-6">
        <h1 class="titreInterventionIndex pb-2 pt-2">Gestion des Données</h1>
        <hr />
    </div>

    <div class="attachments-card-body pt-3">

        <table class="table">
            <thead class="tableHeader">
                <tr>
                    <th>Nom de la Donnée</th>
                    <th style="text-align:right;">Actions</th> <!-- Alignement à droite -->
                </tr>
            </thead>
            <tbody>
                @foreach (var nom in Model.MdNames)
                {
                    <tr>
                        <td>@nom</td>
                        <td style="text-align:right;">
                            <!-- Alignement à droite -->
                            <div class="btn-group" role="group">
                                <a asp-controller="GestionMD" asp-action="Details" asp-route-mdName="@nom" class="btn btn-primary">
                                    <i class="bi bi-list-ul"></i> Détails
                                </a>
                            </div>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>

</div>




