@model DataAccess.BOL.InterventionNote.InterventionNoteBOL

@{
    ViewBag.Title = "Ajouter une note";
}

<div class="notes-card-body">
    <h2 class="interventionNotes-card-header">Ajouter une note</h2>


    <form asp-action="Create">
        <div class="form-group">
            <label asp-for="Comment" class="soustitreCommentaire control-label">Commentaire</label>
            <textarea asp-for="Comment" class="form-control"></textarea>
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div>
        <div class="form-group hidden">
            <label asp-for="IdEmployee" class="control-label"></label>
            <textarea asp-for="IdEmployee" class="form-control"></textarea>
            <span asp-validation-for="IdEmployee" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="IdIntervention" />
        <div class="form-actions">
            <button type="submit" class="btn btn-primary mt-3">Enregistrer</button>
            <a asp-action="Index" asp-route-interventionId="@Model.IdIntervention" class="btn btn-secondary mt-3">Annuler</a>
        </div>
    </form>
</div>

<link rel="stylesheet" href="~/css/note.css">
