/* DARK */

.btn-group .btn {
    padding: 5px 10px; /* Réduire le padding pour diminuer la taille des boutons */
    font-size: 14px; /* Ajuster la taille de la police pour rendre le texte plus petit */
    border-radius: 5px; /* Réduire légèrement le radius pour un look plus rectangulaire */
}

    .btn-group .btn i {
        font-size: 12px; /* Ajuster la taille des icônes si nécessaire */
    }

.btn-group-vertical .btn {
    padding: 5px 23px; /* Réduire le padding pour diminuer la taille des boutons */
    font-size: 14px; /* Ajuster la taille de la police pour rendre le texte plus petit */
    border-radius: 5px; /* Réduire légèrement le radius pour un look plus rectangulaire */
}

    .btn-group-vertical .btn i {
        font-size: 12px; /* Ajuster la taille des icônes si nécessaire */
    }



.btn-primary, .btn-danger {
    background-color: #007bff !important; /* Bouton principal bleu foncé */
    color: #ffffff;
    border-radius: 5px; /* Réduire légèrement le radius pour un look plus rectangulaire */
}

    .btn-primary:hover {
        background-color: #070e70 !important; /* Utilisation de !important pour forcer l'application du style */
        color: white !important; /* Changer la couleur du texte si nécessaire */
        border-color: #007bff !important; /* Assurer la cohérence avec la couleur du texte */
    }

.btn-secondary {
    background-color: white !important;
    color: black !important;
    border: 1px solid #000000;
    font-weight: bold;
    border-radius: 5px; /* Réduire légèrement le radius pour un look plus rectangulaire */
}

    .btn-secondary:hover {
        background-color: white;
        color: black;
    }

    

.btn-danger:hover {
    background-color: red !important;
}




/* BOUTONS DE PAGINATION */
.pagination .page-item.active .page-link {
    background-color: #007bff; /* Fond blanc pour le bouton actif */
    color: white; /* Texte noir pour le bouton actif */
    border-color: white; /* Bordure blanche pour le bouton actif */
}

.pagination .page-item .page-link {
    background-color: black; /* Fond noir pour les boutons non actifs */
    color: white; /* Texte blanc pour les boutons non actifs */
    border-color: black; /* Bordure noire pour les boutons non actifs */
}

    .pagination .page-item .page-link:hover {
        background-color: #070e70; /* Fond gris foncé au survol */
        border-color: #444444; /* Bordure gris foncé au survol */
    }



#btnYes:focus {
    background-color: #007bff !important;
    border: none;
    color: white;
}

#btnNo:focus {
    background-color: #007bff !important;
    border: none;
    


