/* DARK */

.table th, .table td {
    vertical-align: middle;
    background-color: #1b263b;
    color: white;
    font-weight: bold;
}

.table-container {
    background: #1b263b;
    border-radius: 8px;
    padding: 10px;
    border: none;
    outline: none;
    overflow-x: auto; /* Permettre le défilement horizontal si la table dépasse */
    width: 100%;
    box-sizing: border-box; /* S'assurer que le padding et la bordure sont inclus dans la largeur totale */
}

.tableHeader {
    background-color: black;
}

.table-header {
    background-color: black;
    color: white;
    text-transform: uppercase;
}

.table th:last-child,
.table td:last-child {
    width: 3% !; /* Ajustez ce pourcentage selon vos besoins */
}






.table-container .btn-group {
    display: flex;
    justify-content: space-around; /* Pour s'assurer que les boutons ne sont pas trop espacés */
    gap: 5px; /* Espacement entre les boutons */
}




.table-header a {
    text-decoration: none; /* Enlever le soulignement des liens */
    color: inherit; /* Garder la couleur de texte par défaut */
}

    .table-header a:hover {
        text-decoration: underline; /* Assurez-vous que les liens ne sont pas soulignés au survol */
        color: inherit; /* Garder la couleur au survol */
    }


.tableHeader {
    border-bottom: 3px solid #14578e; /* Bordure grise foncée */
}