@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

    <script>
        // Immédiatement appliquer le thème correct avant que la page ne soit rendue
        (function () {
            const currentTheme = localStorage.getItem('theme') || 'dark';
            //layout
            document.write('<link id="layoutStylesheet" rel="stylesheet" href="/css/' + currentTheme + '/layout.css" asp-append-version="true" />');

            //buttons
            document.write('<link id="buttonsStylesheet" rel="stylesheet" href="/css/' + currentTheme + '/buttons.css" asp-append-version="true" />');
            
            //intervention
            document.write('<link id="interventionCreateStylesheet" rel="stylesheet" href="/css/' + currentTheme + '/interventionCreate.css" asp-append-version="true" />');
            document.write('<link id="interventionEditStylesheet" rel="stylesheet" href="/css/' + currentTheme + '/interventionEdit.css" asp-append-version="true" />');
            document.write('<link id="interventionIndexStylesheet" rel="stylesheet" href="/css/' + currentTheme + '/interventionIndex.css" asp-append-version="true" />');
            document.write('<link id="interventionDetailsStylesheet" rel="stylesheet" href="/css/' + currentTheme + '/interventionDetails.css" asp-append-version="true" />');

            //client
            document.write('<link id="clientIndexStylesheet" rel="stylesheet" href="/css/' + currentTheme + '/clientIndex.css" asp-append-version="true" />');
            document.write('<link id="clientDetailsStylesheet" rel="stylesheet" href="/css/' + currentTheme + '/clientDetails.css" asp-append-version="true" />');
            document.write('<link id="clientCreateStylesheet" rel="stylesheet" href="/css/' + currentTheme + '/clientCreate.css" asp-append-version="true" />');
            document.write('<link id="clientEditStylesheet" rel="stylesheet" href="/css/' + currentTheme + '/clientEdit.css" asp-append-version="true" />');
        })();
    </script>

    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/Logo-ACEF-Quebec1.png" alt="ACEF Logo" style="height:40px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Client" asp-action="Index">Clients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Seminars" asp-action="Index">Atelier</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Intervention" asp-action="Index">Intervention</a>
                        </li>
                        @* <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Permission" asp-action="Index">Permission</a>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="employee" asp-action="Index">Employes</a>
                        </li>
                        
                    </ul>
                    <ul class="navbar-nav">
                        <button id="themeToggleBtn" class="btn btn-secondary me-3">Changer Thème</button>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <span class="nav-link text-white">Bonjour @UserManager.GetUserName(User)</span>
                            </li>
                            <li class="nav-item">
                                <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="form-inline">
                                    <button type="submit" class="nav-link btn btn-link text-white">Déconnexion</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Account" asp-action="Login">Connexion</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="text-white text-center">
        <div class="container">
            Copyright <i class="bi bi-c-circle-fill"></i> 2024 ACEF. Tous droits réservés. <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.getElementById('themeToggleBtn').addEventListener('click', function () {
            const currentTheme = localStorage.getItem('theme') || 'dark';
            const newTheme = currentTheme === 'dark' ? 'light' : 'dark';

            //layout
            document.getElementById('layoutStylesheet').setAttribute('href', `/css/${newTheme}/layout.css`);

            //buttons
            document.getElementById('buttonsStylesheet').setAttribute('href', `/css/${newTheme}/buttons.css`);

            //intervention
            document.getElementById('interventionCreateStylesheet').setAttribute('href', `/css/${newTheme}/interventionCreate.css`);
            document.getElementById('interventionEditStylesheet')?.setAttribute('href', `/css/${newTheme}/interventionEdit.css`);
            document.getElementById('interventionIndexStylesheet')?.setAttribute('href', `/css/${newTheme}/interventionIndex.css`);
            document.getElementById('interventionDetailsStylesheet')?.setAttribute('href', `/css/${newTheme}/interventionDetails.css`);
            document.getElementById('interventionDeleteStylesheet')?.setAttribute('href', `/css/${newTheme}/interventionDelete.css`);

            //client
            document.getElementById('clientCreateStylesheet').setAttribute('href', `/css/${newTheme}/clientCreate.css`);
            document.getElementById('clientEditStylesheet')?.setAttribute('href', `/css/${newTheme}/clientEdit.css`);
            document.getElementById('clientIndexStylesheet')?.setAttribute('href', `/css/${newTheme}/clientIndex.css`);
            document.getElementById('clientDetailsStylesheet')?.setAttribute('href', `/css/${newTheme}/clientDetails.css`);
            document.getElementById('clientDeleteStylesheet')?.setAttribute('href', `/css/${newTheme}/clientDelete.css`);

            localStorage.setItem('theme', newTheme);
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
