@model WebApp.ViewModels.EmployeePermissionsViewModel

@{
    ViewData["Title"] = "Créer une Permission";
    Layout = "_Layout";
}

<div class="container">
    <h1>Créer une Nouvelle Permission</h1>

    <div class="permission-card">
        <div class="permission-card-body">
            <form asp-action="Create" method="post" class="form-horizontal">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-grid">
                    <div class="form-group">
                        <label asp-for="EmployeeId" class="control-label">ID de l'Employé</label>
                        <select asp-for="EmployeeId" class="form-control" asp-items="Model.Employees"></select>
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AllowInterventions" class="control-label">Autoriser les Interventions</label>
                        <input asp-for="AllowInterventions" type="checkbox" class="form-check-input">
                        <span asp-validation-for="AllowInterventions" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AllowReports" class="control-label">Autoriser les Rapports</label>
                        <input asp-for="AllowReports" type="checkbox" class="form-check-input">
                        <span asp-validation-for="AllowReports" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AllowSu" class="control-label">Autoriser Superutilisateur</label>
                        <input asp-for="AllowSu" type="checkbox" class="form-check-input">
                        <span asp-validation-for="AllowSu" class="text-danger"></span>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-custom">Enregistrer</button>
                        <a asp-action="Index" class="btn btn-secondary">Retour à la liste des permissions</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
