@model WebApp.ViewModels.ChangePasswordEmployeeViewModel

@{
    ViewData["Title"] = "Changer de mot de passe";
}

<div class="container">
    <div class="containerAccountLogin2">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h2 class="accountLoginTitle">@ViewData["Title"]</h2>
                <form asp-action="ChangePassword" method="post">
                    @* Message d'erreur global *@
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group mt-3">
                        <label class="labelAccountLogin" asp-for="NewPassword"></label>
                        <input asp-for="NewPassword" class="form-control" type="password" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <label class="labelAccountLogin" asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" type="password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="d-flex justify-content-center mt-4">
                        <button type="submit" class="btn btn-primary" style="width: 200px;">Changer de mot de passe</button>
                    </div>

                    <div class="d-flex justify-content-center mt-3">
                        <a asp-controller="Employee" asp-action="Edit" asp-route-id="@ViewData["IdEmployeeRetour"]" class="btn btn-secondary" style="width: 200px;">Retour</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
